<div class="container">
    <h2>Política de Privacidad de Aplicación PUPICAT</h2>
    
    <h4>1. Información que recopilamos</h4>
    <p>Recopilamos los siguientes tipos de información personal:</p>
    <ul>
        <li>Email</li>
        <li>Nombre</li>
        <li>Apellido</li>
        <li>Fecha de nacimiento</li>
        <li>Dirección</li>
        <li>Fotos<li>
        <li>Ubicación GPS </li>
    </ul>
    
    <h4>2. Uso de la información</h4>
    <p>Utilizamos la información recopilada para los siguientes propósitos:</p>
    <ul>
        <li>Personalizar la experiencia del usuario dentro de la aplicación.</li>
        <li>Enviar comunicaciones relacionadas con el servicio.</li>
        <li>Mejorar nuestros productos y servicios.</li>
    </ul>
    
    <h4>3. Seguridad de la información</h4>
    <p>Implementamos medidas de seguridad para proteger la información personal contra accesos no autorizados o alteraciones.</p>
    
    <h4>4. Acceso y control de su información</h4>
    <p>Los usuarios pueden acceder, actualizar o eliminar su información personal en cualquier momento a través de la configuración de la aplicación.</p>
    
    <h4>5. Divulgación de información</h4>
    <p>No compartimos la información personal de nuestros usuarios con terceros, excepto cuando sea necesario para cumplir con la ley o proteger nuestros derechos.</p>
    
    <h4>6. Cambios a esta política de privacidad</h4>
    <p>Nos reservamos el derecho de actualizar esta política de privacidad en cualquier momento. Se recomienda a los usuarios revisar periódicamente esta página para estar al tanto de cualquier cambio.</p>
    
    <p>Para más información o dudas sobre nuestra política de privacidad, contáctenos en <a href="mailto:privacidad@pupicat.com">privacidad&#64;pupicat.com</a>.</p>
    
    <p><a href="/">Volver a la página principal</a></p>
</div>